body {
    font-size: 16px;
    background-color: #004d9d;
    color: #ffffff;
}


img {
    width: 100px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

section {
    /* vh relative to the height of the browser */
    /* 100% of the height of browser */
    height: 100vh;
    background-image: url(../images/assets/sally_1.jpg);
    /* covering full width and height of section */
    background-size: cover;
}